<?xml version="1.0"?>

<configuration>


  
    <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add connectionString="Data Source=155.237.99.166;Initial Catalog=OneMobile_SasolInfra_DB001_DEV;user id=onemobile;password=1q2w#E$R" name="OneMobileConnectionString" />-->
    <add connectionString="Data Source=localhost;Initial Catalog=OneMobile_Wax;user id=sa;password=Mustang9" providerName="System.Data.SqlClient" name="OneMobileConnectionString" />
  </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
